/* CSS for website */
// @font-face {
//     font-family: 'monaco';
//     src: url('http://7xjg0a.com1.z0.glb.clouddn.com/fonts/Monaco.eot');
//     src: url('http://7xjg0a.com1.z0.glb.clouddn.com/fonts/Monaco.eot?#iefix') format('embedded-opentype'),
//     url('http://7xjg0a.com1.z0.glb.clouddn.com/fonts/Monaco.woff') format('woff'),
//     url('http://7xjg0a.com1.z0.glb.clouddn.com/fonts/Monaco.ttf') format('truetype'),
//     url('http://7xjg0a.com1.z0.glb.clouddn.com/fonts/Monaco.svg#monaco') format('svg');
// }

body .page-inner{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
}

body blockquote {
    font-size: 14px !important;
}

code:not(.lang-javascript) {
    color: #c7254e !important;
}

pre {
    // font-family: monaco !important;
    letter-spacing: 0px;
}